# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# # Lab | Hypothesis Testing

# ## Introduction

# In this lab we'll familiarize you with one sample hypothesis tests. 
#You will also write Python code to conduct 
#one sample hypothesis tests as well as construct confidence intervals.

# ## Deliverables
# - `main.ipynb`.
# ## Submission
# Upon completion, add your deliverables to git. Then commit git and push your branch to the remote.
# ## Resources
# [T Test](http://b.link/test50)
# [Hypothesis Tests in SciPy](http://b.link/scipy65)
# [Standard Error in SciPy](http://b.link/scipy86)
# [One Sample Tests of Proportions](http://b.link/categorical45)

In [3]:
# import numpy and pandas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import scipy.stats
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
display(data.shape)
data.head()

(33702, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [5]:
# # Your code here:
# The head function in Python displays the first 
#five rows of the dataframe by default. It takes 
#in a single parameter: the number of rows. 
#We can use this parameter to display the number of rows of our choice.
data.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
data.isna().sum()/len(data)

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
display(data['Salary or Hourly'].value_counts(dropna=False))

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

In [8]:
display(data['Hourly Rate'].value_counts(dropna=False))

NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: Hourly Rate, Length: 179, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# # Your code here:
#  List all departments 
#     count of employees 
#     in each department.
all_dept = data.groupby(['Department']).agg({'Job Titles':sum})
all_dept

                                                            Job Titles
Department
ADMIN HEARNG         CUSTOMER ACCOUNT REPRESENTATIVEMANAGER OF ADMI...
ANIMAL CONTRL        ANIMAL CARE AIDE IANIMAL CONTROL OFFICERANIMAL...
AVIATION             MOTOR TRUCK DRIVERMOTOR TRUCK DRIVERELECTRICAL...
BOARD OF ELECTION    PRINCIPAL CLERK-ELECTIONSSENIOR CLERK-ELECTION...
BOARD OF ETHICS      EXECUTIVE DIR - BOARD OF ETHICSSTAFF ASSTINVES...
BUDGET & MGMT        SENIOR BUDGET ANALYSTSENIOR BUDGET ANALYSTDIR ...
BUILDINGS            VENTILATION AND FURNACE INSPECTORBUILDING/CONS...
BUSINESS AFFAIRS     SENIOR PUBLIC INFORMATION OFFICERADMINISTRATIV...
CITY CLERK           EDITORIAL ASSTPAYMENT SERVICES REPRESENTATIVEW...
CITY COUNCIL         ALDERMANIC AIDELEGISLATIVE AIDEALDERMANIC AIDE...
COPA                 INVESTIGATOR-COPADIR OF ADMINISTRATIVE SERVICE...
CULTURAL AFFAIRS     SPECIAL EVENTS COORD IIIDEPUTY DIRCHIEF REVENU...
DAIS                 CHIEF CONTRACT EXPEDITERELECTRICAL MECHANIC (A...
DISABILITIES         DEPUTY COMMISSIONERDISABILITY SPECIALIST IIADM...
FAMILY & SUPPORT     TITLE V PROGRAM TRAINEE IFOSTER GRANDPARENTSEN...
FINANCE              ACCOUNTING TECHNICIAN IIBOOTER - PARKINGACCOUN...
FIRE                 PARAMEDICFIREFIGHTER (PER ARBITRATORS AWARD)-E...
HEALTH               PERSONAL COMPUTER OPERATOR IIISENIOR ENVIRONME...
HOUSING              PROGRAM AUDITOR IISUPERVISING PROGRAM AUDITORL...
HOUSING & ECON DEV   SENIOR RESEARCH ANALYSTADMINISTRATIVE ASST III...
HUMAN RELATIONS      ADMINISTRATIVE SERVICES OFFICER II EXCLDHUMAN ...
HUMAN RESOURCES      EEO INVESTIGATORTESTING SPECIALISTRECRUITERTES...
INSPECTOR GEN        PERFORMANCE ANALYSTCOMPLIANCE OFFICERINVESTIGA...
LAW                  ADMINISTRATIVE DEPUTYASST CORPORATION COUNSEL ...
LICENSE APPL COMM                                           STAFF ASST
MAYOR'S OFFICE       LEGISLATIVE ASSTCHIEF FINANCIAL OFFICERLEGISLA...
OEMC                 TRAFFIC CONTROL AIDE-HOURLYSUPERINTENDENT OF S...
POLICE               POLICE OFFICERPOLICE OFFICERSERGEANTPOLICE OFF...
POLICE BOARD             SUPERVISING CLERKEXECUTIVE DIR - POLICE BOARD
PROCUREMENT          SR PROCUREMENT SPECIALISTASST TO THE COMMISSIO...
PUBLIC LIBRARY       LIBRARY ASSOCIATELIBRARIAN IVLIBRARY PAGELIBRA...
PUBLIC SAFETY ADMIN  ADMINISTRATIVE ASST IIIMANAGER OF POLICE PAYRO...
STREETS & SAN        SANITATION LABORERSANITATION LABORERSANITATION...
TRANSPORTN           BRIDGE OPERATORTRAFFIC ENGINEER IVTRAFFIC SIGN...
TREASURER            PORTFOLIO MANAGERSTAFF ASSTPORTFOLIO MANAGERAS...
WATER MGMNT          DEPUTY COMMISSIONERLABORER - APPRENTICECIVIL E...

In [10]:
# # Your code here:
#  List all departments 
#     count of employees 
#     in each department.
data['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

In [11]:
# data.pivot_table(index = ['Department'],values = ['Job Titles'], aggfunc = 'count')

In [12]:
# # Your code here:
# data.pivot_table(index=['department'], values=['name'], aggfunc=({'name':pd.Series.nunique})).reset_index()

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

H zero = hourly wage = 30 / hr
H one = hourly wage !=30 / hr

In [13]:
# Your code here:
hour_worker = data['Hourly Rate'].dropna()
hour_worker
hour_worker = hour_worker.str.replace("[$,]", "", regex=True)
hour_worker = hour_worker.astype(float)

AttributeError: Can only use .str accessor with string values!

In [14]:
stat,pvalue = stats.ttest_1samp(hour_worker,30)
print('Stat_Score = ',stat)
print('Pvalue = ',pvalue)

Stat_Score =  31.211500329216044
Pvalue =  3.825475847673794e-202

The small pvalue under the threshhold of 0,05
Null hypothesis that the hourly worker average is 30 can be rejected. Because of the positive stat score it should be more than 30.

In [15]:
hour_worker.mean()

34.58644971862046

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

H zero = Salary is <= 86000;
H one = Salary is>86000

In [16]:
dept_sal = data[data['Department']=='POLICE']
cops = dept_sal['Annual Salary']

cops_sal = cops.dropna()

cops_sal = cops_sal.str.replace("[$,]", "", regex=True)
cops_sal = cops_sal.astype(float)
cops_sal

AttributeError: Can only use .str accessor with string values!

Using the `crosstab` function, find the department that has the most hourly workers.

In [17]:
# Your code here:
stats_value, pvalue = stats.ttest_1samp(cops_sal,86000)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue/2)

Stat_Score =   31.211500329216044
Pvalue =   6.119566952121482e-76

In [18]:
con_level = 0.95
df = len(cops_sal)-1
mu = cops_sal.mean()
se = stats.sem(cops_sal)

conf_int = stats.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Confidence interval is between (88534.1182885883, 89134.11955863392)

p value is below threshhold of 0.05 and the stat score is positive, null can be rejected. 
Average salary is more than last year's average. 
Checking again

In [19]:
cops_sal.mean()

88834.11892361111

Using the `crosstab` function, find the department that has the most hourly workers.

In [20]:
dept_hour = pd.crosstab(data['Department'],data['Salary or Hourly'])
dept_hour
most_hourly = dept_hour.loc[dept_hour['Hourly'] == dept_hour['Hourly'].max()]
most_hourly

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1846     329

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

If the hypothesis is less than, then to reject the test statistic must also be negative. 
H zero = hourly wage = 35 / hr
H one = hourly wage !=35 / hr

In [21]:
# Your code here:
dept_wage = data[(data['Department']=='STREETS & SAN') & (data['Salary or Hourly']=='Hourly')]['Hourly Rate']

dept_wage = dept_wage.str.replace("[$,]", "", regex=True)
dept_wage = dept_wage.astype(float)
dept_wage

AttributeError: Can only use .str accessor with string values!

In [22]:
stats_value, pvalue = stats.ttest_1samp(dept_wage,35)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue/2)

Stat_Score =   31.211500329216044
Pvalue =   3.2902372218867895e-05

The one-sided ttest has a p-value well below 0,05 and the stat score is negative. Checking average again.

In [23]:
dept_wage.mean()

35.55229685807062

this number does not look far from the mean. Checking distribution.

In [24]:
dept_wage.describe()

count    1846.000000
mean       35.552297
std         5.932167
min        21.730000
25%        36.450000
50%        37.450000
75%        38.520000
max        55.100000
Name: Hourly Rate, dtype: float64

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [25]:
# Your code here:
con_level = 0.95
df = len(hour_worker)-1
mu = hour_worker.mean()
se = stats.sem(hour_worker)

conf_int = stats.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Confidence interval is between (34.29839539204361, 34.874504045197305)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [26]:
# Your code here:
cops_sal

conf_level = 0.95
df = len(cops_sal)-1
mu = cops_sal.mean()
se = stats.sem(cops_sal)

conf_int_cop = stats.t.interval(conf_level,df,mu,se)
print('Confidence interval for police salary is between', conf_int_cop)

Confidence interval for police salary is between (88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [27]:
# create hourly pay table

In [28]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [29]:
proportions_ztest(count=len(hour_worker),
                 nobs=len(data),
                 value=0.25)

(-3.1962453870335, 0.0013922864704323116)