# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# # Lab | Hypothesis Testing

# ## Introduction

# In this lab we'll familiarize you with one sample hypothesis tests. 
#You will also write Python code to conduct 
#one sample hypothesis tests as well as construct confidence intervals.

# ## Deliverables
# - `main.ipynb`.
# ## Submission
# Upon completion, add your deliverables to git. Then commit git and push your branch to the remote.
# ## Resources
# [T Test](http://b.link/test50)
# [Hypothesis Tests in SciPy](http://b.link/scipy65)
# [Standard Error in SciPy](http://b.link/scipy86)
# [One Sample Tests of Proportions](http://b.link/categorical45)

In [3]:
# import numpy and pandas
import scipy.stats as st
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
display(data.shape)
data.head()

(33702, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [5]:
# # Your code here:
# The head function in Python displays the first 
#five rows of the dataframe by default. It takes 
#in a single parameter: the number of rows. 
#We can use this parameter to display the number of rows of our choice.
data.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
data.isna().sum()/len(data)

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
# Your code here:
display(data['Salary or Hourly'].value_counts(dropna=False))

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

In [10]:
display(data['Hourly Rate'].value_counts(dropna=False))

NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: Hourly Rate, Length: 179, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
# # Your code here:
#  List all departments 
#     count of employees 
#     in each department.
all_dept = data.groupby(['Department']).agg({'Job Titles':sum})
all_dept

                                                            Job Titles
Department
ADMIN HEARNG         CUSTOMER ACCOUNT REPRESENTATIVEMANAGER OF ADMI...
ANIMAL CONTRL        ANIMAL CARE AIDE IANIMAL CONTROL OFFICERANIMAL...
AVIATION             MOTOR TRUCK DRIVERMOTOR TRUCK DRIVERELECTRICAL...
BOARD OF ELECTION    PRINCIPAL CLERK-ELECTIONSSENIOR CLERK-ELECTION...
BOARD OF ETHICS      EXECUTIVE DIR - BOARD OF ETHICSSTAFF ASSTINVES...
BUDGET & MGMT        SENIOR BUDGET ANALYSTSENIOR BUDGET ANALYSTDIR ...
BUILDINGS            VENTILATION AND FURNACE INSPECTORBUILDING/CONS...
BUSINESS AFFAIRS     SENIOR PUBLIC INFORMATION OFFICERADMINISTRATIV...
CITY CLERK           EDITORIAL ASSTPAYMENT SERVICES REPRESENTATIVEW...
CITY COUNCIL         ALDERMANIC AIDELEGISLATIVE AIDEALDERMANIC AIDE...
COPA                 INVESTIGATOR-COPADIR OF ADMINISTRATIVE SERVICE...
CULTURAL AFFAIRS     SPECIAL EVENTS COORD IIIDEPUTY DIRCHIEF REVENU...
DAIS                 CHIEF CONTRACT EXPEDITERELECTRICAL MECHANIC (A...
DISABILITIES         DEPUTY COMMISSIONERDISABILITY SPECIALIST IIADM...
FAMILY & SUPPORT     TITLE V PROGRAM TRAINEE IFOSTER GRANDPARENTSEN...
FINANCE              ACCOUNTING TECHNICIAN IIBOOTER - PARKINGACCOUN...
FIRE                 PARAMEDICFIREFIGHTER (PER ARBITRATORS AWARD)-E...
HEALTH               PERSONAL COMPUTER OPERATOR IIISENIOR ENVIRONME...
HOUSING              PROGRAM AUDITOR IISUPERVISING PROGRAM AUDITORL...
HOUSING & ECON DEV   SENIOR RESEARCH ANALYSTADMINISTRATIVE ASST III...
HUMAN RELATIONS      ADMINISTRATIVE SERVICES OFFICER II EXCLDHUMAN ...
HUMAN RESOURCES      EEO INVESTIGATORTESTING SPECIALISTRECRUITERTES...
INSPECTOR GEN        PERFORMANCE ANALYSTCOMPLIANCE OFFICERINVESTIGA...
LAW                  ADMINISTRATIVE DEPUTYASST CORPORATION COUNSEL ...
LICENSE APPL COMM                                           STAFF ASST
MAYOR'S OFFICE       LEGISLATIVE ASSTCHIEF FINANCIAL OFFICERLEGISLA...
OEMC                 TRAFFIC CONTROL AIDE-HOURLYSUPERINTENDENT OF S...
POLICE               POLICE OFFICERPOLICE OFFICERSERGEANTPOLICE OFF...
POLICE BOARD             SUPERVISING CLERKEXECUTIVE DIR - POLICE BOARD
PROCUREMENT          SR PROCUREMENT SPECIALISTASST TO THE COMMISSIO...
PUBLIC LIBRARY       LIBRARY ASSOCIATELIBRARIAN IVLIBRARY PAGELIBRA...
PUBLIC SAFETY ADMIN  ADMINISTRATIVE ASST IIIMANAGER OF POLICE PAYRO...
STREETS & SAN        SANITATION LABORERSANITATION LABORERSANITATION...
TRANSPORTN           BRIDGE OPERATORTRAFFIC ENGINEER IVTRAFFIC SIGN...
TREASURER            PORTFOLIO MANAGERSTAFF ASSTPORTFOLIO MANAGERAS...
WATER MGMNT          DEPUTY COMMISSIONERLABORER - APPRENTICECIVIL E...

In [19]:
# # Your code here:
#  List all departments 
#     count of employees 
#     in each department.
count('Department','Job Titles')

NameError: name 'count' is not defined

In [21]:
data1 =  data.groupby('Department')['Department'].count()
print(data1)

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
Name: Department, dtype: int64

In [22]:
# import pandas as pd
# df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
# 'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})
# g1 = df1.groupby(["city"]).size().reset_index(name='Number of people')
# print(g1)

SyntaxError: invalid syntax (3839757739.py, line 1)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [23]:
# Your code here:
data_crosstab = pd.crosstab(data['Department'], data['Hourly Rate'], margins=True) 
data_crosstab.sort_values(by='All', ascending=False).head(2)

Hourly Rate,2.65,8.25,9.74,10.0,10.5,12.0,13.0,13.4,13.45,13.94,...,53.4,53.91,54.05,54.1,55.1,57.04,58.4,61.65,128.0,All
Department,,,,,,,,,,,,,,,,,,,,,
All,260,4,2,2,1,16,62,107,1,49,...,48,1,30,24,12,68,10,1,1,8174
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,1846

In [24]:
st_san = data[data['Department']=='STREETS & SAN']
st_san = st_san[st_san['Hourly Rate'].isna()==False]
st_san_salary = st_san['Hourly Rate']

In [25]:
import scipy.stats

confidence_level = 0.95 
degrees_freedom = len(st_san_salary) - 1  
sample_mean = np.mean(st_san_salary)
sample_standard_error = scipy.stats.sem(st_san_salary)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (35.28150811892018, 35.82308559722106) .

In [26]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(st_san_salary, 35)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the two-tailed test is  6.580474443773579e-05
pvalue for the one-tailed test is  3.2902372218867895e-05

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: